<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /APPTE/
Options All -Indexes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^PrintLaporanPenjualan$ apps/laporan.php [L]



RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# protect database order allow,deny deny from all
ErrorDocument 404 https://olshop.maliniart.com/page-not-found


# RewriteRule ^10(.*)$ site/artikelkatpage.php?page=artikelkatpage&id=$1 [L]
# RewriteRule ^20(.*)$ site/artikeldetails.php?page=artikeldetails&id=$1 [L]
</IfModule>